body {
	background-color: #333;
}

main {
	position: relative;
}

.main-video {
	width: 100%;
	z-index: -1;
}

.side-video {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 25%;	
	display: hidden;
}

.data-gutter-trigger {
	position: absolute;
	bottom: 0px;
	height: 200px;
	visibilty: hidden;
	z-index: 100;
}

.data-gutter {
	position: absolute;
	bottom: -150px;
	background-color: #fefefe;
	height: 150px;
}

#contextLink,
#contextLink1,
#contextLink2 {
	z-index: 2;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 25%;	
}




/***** Bootstrap Overrides *****/

.container-fluid {
	padding: 0px;
}
