/*div {
	background: white;
	height: 100px;
	width: 100px;
}*/

body {
	background-color: #333;
}

main {
	position: relative;
}

.main-video {
	width: 100%;
	max-width: 1390px;
	position: absolute;
	z-index: -1;
}

.side-video {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 25%;	
}

.data-gutter-trigger {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 100px;
	visibilty: hidden;
	z-index: 100;
}

.data-gutter {
	position: absolute;
	width: 100%;
	bottom: -84px;
	background-color: #fefefe;
	height: 100px;
}

#contextLink {
	position: fixed;
}