/*div {
	background: white;
	height: 100px;
	width: 100px;
}*/

body {
	background-color: #333;
}

main {
	max-height: 100px;
	position: relative;
}

.main-video {
	width: 100%;
	max-width: 1390px;
	position: absolute;
	z-index: -1;
}

.side-video {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 25%;	
}

#contextLink {
	position: fixed;
}